<section>
  <div class="container main-wrapper">
    <div class="col-md-12">

      <!-- Compute -->
      <div class="col-md-3 col-lg-2">
        <div class="u-text-center u-margin-bottom">
          <div class="space-invader-green"></div>
          <h2 class="arcade-caption">Soft Servers</h2>
        </div>
      </div>

      <!-- Network -->
      <div class="col-md-3 col-lg-2">
        <div class="space-invader-purple u-pull-center"></div>
        <h2 class="arcade-caption">Soft Networks</h2>
      </div>

      <!-- Storage -->
      <div class="col-md-3 col-lg-2">
        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-blue"></div>
          <h2 class="arcade-caption">Soft Storage</h2>
        </div>
      </div>

      <!-- Endpoints -->
      <div class="col-md-2 col-lg-2">
        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-orange"></div>
          <h2 class="arcade-caption">Soft Endpoints</h2>
        </div>
      </div>

      <!-- Services -->
      <div class="col-md-3 col-lg-2">
        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-red"></div>
          <h2 class="arcade-caption">Soft Services</h2>
        </div>
      </div>

    </div>
  </div>
</section>
