<section>
  <div class="container main-wrapper">
    <div class="col-lg-12">

      <!-- Compute -->
      <div class="col-lg-2">
        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-green"></div>
          <h2 class="icon-caption-arcade">Bare Metal</h2>
        </div>

        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-green"></div>
          <h2 class="icon-caption-arcade">Virtual Server</h2>
        </div>
      </div>

      <!-- Identity -->
      <div class="col-lg-2">
        <div class="u-margin-bottom u-text-center">
          <div class="space-invader-orange"></div>
          <h2 class="icon-caption-arcade">Identity</h2>
        </div>

      </div>
    </div>
  </div>
</section>
