<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
      <div class="row">

        <!-- BlueMix -->
        <div class="col-md-4">
          <div class="u-margin-bottom">
            <div class="space-invader-blue"></div>
            <h2 class="arcade-caption">bluemix</h2>
          </div>
        </div>

        <!-- SoftLayer -->
        <div class="col-md-4">
          <div class="u-margin-bottom">
            <div class="space-invader-red"></div>
            <h2 class="arcade-caption">softlayer</h2>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
