<section>
  <div class="container main-wrapper">
    <div class="col-md-12">

        <!-- BlueMix -->
        <div class="col-md-3">
          <div class="u-margin-bottom">
            <div class="space-invader-blue"></div>
            <h2 class="arcade-caption-gray">bluemix</h2>
          </div>
        </div>

        <!-- SoftLayer -->
        <div class="col-md-3">
          <div class="u-margin-bottom">
            <div class="space-invader-red"></div>
            <h2 class="arcade-caption-gray">softlayer</h2>
          </div>
        </div>

    </div>
  </div>
</section>
