<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-cloud fa-stack-1x icon-red"></i>
              <h2 class="icon-caption u-text-center">Core</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-code fa-stack-1x icon-purple"></i>
              <h2 class="icon-caption u-text-center">Endpoints</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-dashboard fa-stack-1x icon-orange"></i>
              <h2 class="icon-caption u-text-center">Services</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-shopping-cart fa-stack-1x icon-blue"></i>
              <h2 class="icon-caption u-text-center">Marketplace</h2>
            </span>
          </div>
        </div>

<!--
        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-cloud fa-stack-1x icon-red"></i>
              <h2 class="icon-caption u-text-center">Platform Services</h2>
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
