<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
    <div class="row">

      <!-- Cloud -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-red">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

      <!-- Endpoints -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-purple">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

      <!-- Services -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-orange">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

      <!-- Storage -->
      <div class="col-md-3">
        <div class="u-text-center u-margin-bottom">
          <span class="fa-stack icon-large icon-blue">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
