<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
      <div class="row">

        <!-- Compute -->
        <div class="col-md-3">
          <div class="u-margin-bottom u-text-center">

            <div class="hexagon green">
            <span>
              <i class="fa fa-server fa-inverse icon-large"></i>
            </span>
            </div>
            <h2 class="icon-caption u-padding-top">Bare Metal Servers</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
