<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-4">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-sliders fa-stack-1x icon-purple"></i>
              <h2 class="icon-caption u-text-center">Digital Distribution</h2>
            </span>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-shopping-cart fa-stack-1x icon-green"></i>
              <h2 class="icon-caption u-text-center">Online Marketplaces</h2>
            </span>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-cloud fa-stack-1x icon-red"></i>
              <h2 class="icon-caption u-text-center">Cloud Services</h2>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
