<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-cubes fa-stack-1x icon-green"></i>
              <h2 class="icon-caption u-text-center">Compute</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-lock fa-stack-1x icon-orange"></i>
              <h2 class="icon-caption u-text-center">Identity + Security</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-sliders fa-stack-1x icon-purple"></i>
              <h2 class="icon-caption u-text-center">Network</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-database fa-stack-1x icon-blue"></i>
              <h2 class="icon-caption u-text-center">Storage</h2>
            </span>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <span class="fa-stack icon-large">
              <i class="fa fa-circle fa-stack-2x icon-transparent shadow"></i>
              <i class="fa fa-cogs fa-stack-1x icon-red"></i>
              <h2 class="icon-caption u-text-center">Platform</h2>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
