<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
    <div class="row">

      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-green">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Compute</h2>
        </div>
      </div>

      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-orange">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-barcode fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Identity</h2>
        </div>
      </div>

      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-purple">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Network</h2>
        </div>
      </div>

      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-blue">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Storage</h2>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
