<section>
  <div class="container main-wrapper">
    <div class="col-md-12">
    <div class="row">

      <!-- Core -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-green">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-server fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Platform Core</h2>
        </div>
      </div>

      <!-- Endpoints -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-purple">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Platform Endpoints</h2>
        </div>
      </div>

      <!-- Services -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-red">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Platform Services</h2>
        </div>
      </div>

      <!-- Marketplace -->
      <div class="col-md-3">
        <div class="u-text-center">
          <span class="fa-stack icon-large icon-blue">
            <i class="fa fa-circle fa-stack-2x shadow"></i>
            <i class="fa fa-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="icon-caption">Marketplacd</h2>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
